/* ESTILOS PARA EL HEADER */
.Main__Header {
  position: fixed;
  width: 100%;
  top: 0;
  background: var(--Black);
  height: 75px;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Main__Header--Picture {
  min-width: 75px;
  width: 75px;

  display: flex;
  align-items: center;
}
.Main__Header--Picture--Img {
  width: 100%;
  background-color: var(--BgColor);
}
.Main__Header--Menu {
  position: relative;
  width: 100%;
  list-style: none;
  gap: 10px;
  padding: 10px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Main__Header--Menu--Item--Link {
  padding: 10px 20px;
  font-size: 1.6rem;
  background: var(--White);
  border-radius: var(--BorderRadius);
  border: 2px solid transparent;
  font-weight: bold;
  color: var(--Black);

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}
.Main__Header--Menu--Item--Link:hover {
  background-color: var(--Black);
  color: var(--White);
  border-color: var(--White);
}
.Main__Header--Button {
  height: 100%;
  width: 75px;
  border: none;
  background: none;
  color: var(--White);
  display: none;
  cursor: pointer;
}
.Main__Header--Button ion-icon {
  font-size: 3.5rem;
}
/* ESTILOS PARA EL MENÚ */
.Main__Header--Navbar {
  position: fixed;
  top: 0;
  right: -150%;
  width: 100%;
  height: 100vh;
  background: var(--Black);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 1000;

  transition: 0.5s ease-in-out all;
}
.Main__Header--Navbar button {
  padding: 10px 20px;
  background-color: var(--White);
  border: none;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
.Main__Header--Navbar a {
  color: var(--White);
  text-decoration: none;
  font-size: 2.5rem;
}

.Main__Header--Navbar.Show {
  right: 0;
}
@media (width <= 1470px) {
  .Main__Header--Menu--Item--Link {
    font-size: 1.4rem;
  }
}

@media (width <= 1233px) {
  .Main__Header--Menu {
    display: none;
  }
  .Main__Header--Button {
    display: block;
  }
}
