.Main__Advantages--Title,
.Main__Advantages--Title--Text {
  margin: auto;
  max-width: 60%;
  text-align: center;
}
.Main__Advantages--Title {
  font-size: 6.5rem;
}
.Main__Advantages--Title--Text {
  font-size: 2.5rem;
}

/* ESTILOS PARA CELULARES */
@media (width <= 1024px) {
  .Main__Advantages--Title,
  .Main__Advantages--Title--Text {
    max-width: 100%;
  }
}
