.Main__ContactMessage--Details {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 40px;
}
.Main__ContactMessage--Details--Text {
  font-size: 2.5rem;
  text-align: center;
}
.Main__ContactMessage--Picture {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.Main__ContactMessage--Picture {
  background-image: url("../../public/Contacto.jpg");
}
@media (width <= 768px) {
  .Main__ContactMessage--Picture {
    height: 200px;
  }
  .Main__ContactMessage {
    flex-direction: column;
  }
}
