.Main__Mission__Values--Title {
  text-align: center;
  font-size: 6.5rem;
}
.Main__Mission__Values--Subtitle {
  text-align: center;
  font-size: 2.5rem;
}
.Main__Mission__Values--Subtitle strong {
  font-size: 2.5rem;
}
