.Main__Mission__Access--Details {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 40px;
}
.Main__Mission__Access--Details--Title {
  text-align: center;
  font-size: 6.5em;
}
.Main__Mission__Access--Details--Text {
  font-size: 2.5em;
  text-align: center;
}
.Main__Mission__Access--Picture {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.Main__Mission__Access--Picture {
  background-image: url("../../public/Contacto.jpg");
}
@media (width <= 768px) {
  .Main__Mission__Access--Picture {
    height: 200px;
  }
  .Main__Mission__Access {
    flex-direction: column;
  }
}
