.Main__Mission__Advantages--Title,
.Main__Mission__Advantages--Title--Text {
  margin: auto;
  max-width: 80%;
  text-align: center;
}
.Main__Mission__Advantages--Title {
  font-size: 6.5em;
}
.Main__Mission__Advantages--Title--Text {
  font-size: 2.5em;
}

/* ESTILOS PARA CELULARES */
@media (width <= 1024px) {
  .Main__Mission__Advantages--Title,
  .Main__Mission__Advantages--Title--Text {
    max-width: 100%;
  }
}
