.Main__WantConsultant__Capacity--Details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.Main__WantConsultant__Capacity--Details--Title {
  text-align: center;
  font-size: 6.5em;
}
.Main__WantConsultant__Capacity--Details--Subtitle {
  text-align: center;
  font-size: 2.5em;
}
.Main__WantConsultant__Capacity--Picture {
  width: 100%;
  height: 600px;
  background-image: url("../../public/Estandares.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
@media (width <= 768px) {
  .Main__WantConsultant__Capacity--Picture {
    height: 200px;
  }
}
