.Main__WantConsultant__Message--Title {
  font-size: 6.5em;
  margin: auto;
  max-width: 80%;
  text-align: center;
}
.Main__WantConsultant__Message.Four .Main__WantConsultant__Message--Title {
  order: 2;
}
.Main__WantConsultant__Message--Title--Text {
  font-size: 2.5em;
  margin: auto;
  max-width: 80%;
  text-align: center;
}
.Main__WantConsultant__Message.Four
  .Main__WantConsultant__Message--Title--Text {
  order: 3;
}
.Main__WantConsultant__Message--Picture {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.Main__WantConsultant__Message--Picture.One {
  background-image: url("../../public/WhyConsultantInnovation.jpg");
  background-position: center;
}
.Main__WantConsultant__Message--Picture.Two {
  background-image: url("../../public/WhyConsultantMessage.jpg");
  background-position: bottom;
}
.Main__WantConsultant__Message--Picture.Three {
  background-image: url("../../public/TienesUnProyectoEfectividad.jpg");
  background-position: center;
}
.Main__WantConsultant__Message--Picture.Four {
  background-image: url("../../public/WhyConsultantManagement.jpg");
  background-position: center;
}
@media (width <= 768px) {
  .Main__WantConsultant__Message--Picture {
    width: 100%;
    height: 100px;
  }
  .Main__WantConsultant__Message--Title,
  .Main__WantConsultant__Message--Title--Text {
    max-width: 100%;
  }
}
