.Main__HaveProject__Performance--Details {
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.Main__HaveProject__Performance--Details--Title {
  text-align: center;
  font-size: 6.5em;
}
.Main__HaveProject__Performance--Details--Text {
  font-size: 2.5em;
}
.Main__HaveProject__Performance--Picture {
  width: 100%;
  height: 600px;
  background-image: url("../../public/WhyConsultantInnovation.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.Main__HaveProject__Performance--Text--Button {
  position: relative;
  border: 3px solid var(--Black);
  color: var(--Black);
  height: 60px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Main__HaveProject__Performance--Text--Button--Text {
  z-index: 1;
  font-size: 2.5em;
}
.Main__HaveProject__Performance--Text--Button::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 50%;
  height: 1px;
  width: 1px;
  background: var(--White);
  z-index: 0;

  transition: 0.3s ease-in-out all;
}
.Main__HaveProject__Performance--Text--Button:hover::after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
@media (width <= 768px) {
  .Main__HaveProject__Performance--Picture {
    height: 200px;
  }
}
