.Main__Profile__Information--MenuConsultant--Options {
  list-style: none;
  padding: 20px 0;
  background: var(--White);
  border-radius: 0 0 15px 15px;
  overflow: hidden;
}
.Main__Profile__Information--Menu.Show
  .Main__Profile__Information--MenuConsultant--Options {
  display: block;
}
.Main__Profile__Information--MenuConsultant--Options--Item {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--MainPurple);
  font-size: 1.6em;
  font-weight: bold;
  border-left: 4px solid transparent;
  transition: 0.3s ease-in-out all;
}
.Main__Profile__Information--MenuConsultant--Options--Item ion-icon {
  font-size: 1.6em;
}
.Main__Profile__Information--MenuConsultant--Options--Item:hover {
  border-left-color: var(--MainPurple);
  background-color: var(--SecondaryPurple);
  cursor: pointer;
}
.Main__Profile__Information--MenuConsultant--Options--Item.Active {
  border-left-color: var(--MainPurple);
  background-color: var(--SecondaryPurple);
  cursor: pointer;
}
@media (width <= 800px) {
  .Main__Profile__Information--MenuConsultant--Options {
    display: none;
  }
}
