.Main__ModalDelete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
  transition: 0.3s ease-in-out all;

  display: flex;
  align-items: center;
  justify-content: center;
}
.Main__ModalDelete.Show {
  z-index: 1000;
  opacity: 1;
}
.Main__ModalDelete--Content {
  width: 350px;
  min-height: 250px;
  border-radius: 10px;
  background-color: var(--White);
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.Main__ModalDelete--Content--Title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: var(--Red);
}
.Main__ModalDelete--Content--Picture {
  width: 100px;
  height: 100px;
}
.Main__ModalDelete--Content--Picture img {
  width: 100%;
  height: 100%;
}
.Main__ModalDelete--Content--Description {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  color: var(--Black);
}
.Main__ModalDelete--Content--Buttons {
  display: flex;
  gap: 10px;
  width: 100%;
}
.Main__ModalDelete--Content--Buttons--Cancel,
.Main__ModalDelete--Content--Buttons--Confirm {
  width: 50%;
  height: 40px;
  font-weight: bold;
  border: none;
  font-size: 1.3em;
  transition: 0.3s ease-in-out all;

  cursor: pointer;
}
.Main__ModalDelete--Content--Buttons--Cancel {
  background-color: var(--Red);
  border: 2px solid var(--Red);
  color: var(--White);
}
.Main__ModalDelete--Content--Buttons--Confirm {
  background-color: var(--Gray);
  border: 2px solid var(--Gray);
  color: var(--Black);
}
.Main__ModalDelete--Content--Buttons--Cancel:hover {
  background-color: transparent;
  color: var(--Red);
}
.Main__ModalDelete--Content--Buttons--Confirm:hover {
  background-color: transparent;
  border: 2px solid var(--Black);
}
