.Main__Navbar {
  position: fixed;
  background-color: var(--MainPurple);
  font-size: 1em;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}
.Main__Navbar--Options {
  list-style: none;

  display: flex;
  gap: 10px;
}
.Main__Navbar--Options--Item {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  color: var(--White);
  font-weight: bold;
  font-size: 1.6em;
  border-radius: 10px;

  border: none;
  padding: 10px 20px;
  cursor: pointer;

  transition: 0.3s ease-in-out all;
}
.Main__Navbar--Options--Item ion-icon {
  font-size: 1.6em;
}
.Main__Navbar--Options--Item:hover {
  background-color: var(--MainYellow);
  color: var(--MainPurple);
}
.Main__Navbar--Settings {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.Main__Navbar--Settings--Name {
  color: var(--White);
  font-weight: bold;
  font-size: 1.6em;
}
.Main__Navbar--Settings--Avatar {
  min-width: 45px;
  width: 45px;
  min-height: 45px;
  height: 45px;

  cursor: pointer;
}
.Main__Navbar--Settings--Avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
}
.Main__Navbar--Settings--Options {
  position: absolute;
  right: 0;
  bottom: -120px;
  background: var(--MainPurple);
  color: var(--White);
  list-style: none;
  padding: 10px;
  border-radius: 10px;
  transform: scale(0);
  transform-origin: top right;
  transition: 0.3s ease-in-out all;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Main__Navbar--Settings--Options.Show {
  transform: scale(1);
}
.Main__Navbar--Settings--Options li {
  font-size: 1.6em;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s ease-in-out all;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.Main__Navbar--Settings--Options li:hover {
  background: var(--MainYellow);
  cursor: pointer;
}
.Main__Navbar--Settings--Options li ion-icon {
  font-size: 1.6em;
}
@media (width <= 900px) {
  .Main__Navbar--Options--Item,
  .Main__Navbar--Settings--Name {
    font-size: 1.4em;
  }
}
@media (width <= 800px) {
  .Main__Navbar--Options--Item {
    width: 70px;
    flex-direction: column;
    font-size: 1.2em;
  }
  .Main__Navbar--Settings--Name {
    font-size: 1.2em;
  }
  .Main__Navbar--Settings--Options li {
    font-size: 1.2em;
  }
}
@media (width <= 375px) {
  .Main__Navbar--Options--Item {
    width: 60px;
    font-size: 1em;
  }
  .Main__Navbar--Settings--Options li {
    font-size: 1em;
  }
  .Main__Navbar--Settings--Name {
    display: none;
  }
  .Main__Navbar--Settings--Avatar {
    min-width: 35px;
    width: 35px;
  }
}
