.Main__Profile__Information--Content--CVArea--Add {
  padding: 20px;
  background: var(--White);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Main__Profile__Information--Content--CVArea--Add--TitleInput {
  width: 100%;
  font-size: 1.6em;
  color: var(--MainPurple);
  font-weight: bold;
}
.Main__Profile__Information--Content--CVArea--Add--ContainerInputs {
  position: relative;
  width: 100%;
  min-height: 65px;
}
.Main__Profile__Information--Content--CVArea--Add--ContainerInputs--Icon {
  position: absolute;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.Main__Profile__Information--Content--CVArea--Add--ContainerInputs--Icon
  ion-icon {
  color: var(--MainPurple);
  width: 50px;
  font-size: 2em;
}
.Main__Profile__Information--Content--CVArea--Add--ContainerInputs--Inputs {
  font-size: 1.6em;
  min-height: 65px;
  height: 65px;
  background-color: var(--Gray);
  border: 2px solid var(--Gray);
  color: var(--MainPurple);
  width: 100%;
  height: 100%;
  padding: 10px 50px;
  outline: none;

  transition: 0.3s ease-in-out all;
}
.Main__Profile__Information--Content--CVResume--Edit--ContainerInputs--Inputs:focus {
  border-color: var(--MainPurple);
}
