.Main__Profile__Information--Content--ProfileUser--Business {
  position: relative;
  padding: 20px;
  background: var(--White);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Main__Profile__Information--Content--ProfileUser--Business--GroupInputs {
  display: flex;
  gap: 20px;
  width: 100%;
}
.Main__Profile__Information--Content--ProfileUser--Business--GroupInputs--Container--TitleInput {
  font-size: 1.6em;
  min-height: 20px;
  height: 20px;
  max-height: 20px;
  font-weight: bold;
  color: var(--MainPurple);
}
.Main__Profile__Information--Content--ProfileUser--Business--GroupInputs--Container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Main__Profile__Information--Content--ProfileUser--Business--GroupInputs--Container--Inputs {
  font-size: 1.6em;
  min-height: 65px;
  height: 65px;
  max-height: 65px;
  padding: 10px 50px;
  background-color: var(--Gray);
  border: 2px solid var(--Gray);
  color: var(--MainPurple);
  width: 100%;
  height: 100%;
  outline: none;

  transition: 0.3s ease-in-out all;
}
.Main__Profile__Information--Content--ProfileUser--Business--GroupInputs--Container--Icon {
  position: absolute;
  top: 30px;
  width: 50px;
  height: 65px;
  font-size: 2.5em;
  color: var(--MainPurple);

  display: flex;
  justify-content: center;
  align-items: center;
}
.Main__Profile__Information--Content--ProfileUser--Business--GroupInputs--Container--Inputs:focus {
  border-color: var(--MainPurple);
}
.Main__Profile__Information--Content--ProfileUser--Business--GroupInputs--Container--Inputs::placeholder {
  font-weight: bold;
  color: var(--MainPurple);
}
.Main__Profile__Information--Content--ProfileUser--Business--GroupInputs--Container--SmallError {
  width: 100%;
  font-size: 1.3em;
  color: var(--Red);
  font-weight: bold;
}
@media (width <= 800px) {
  .Main__Profile__Information--Content--ProfileUser--Business--GroupInputs {
    display: flex;
    flex-direction: column;
  }
}
